body{
    background-image: url('images/bg.jpg');
}

.btn-link{
    text-decoration: none!important;
    background: none!important;
    color: black!important;
    padding: 5px;
    margin: 5px;
    margin-bottom: 15px;
}

form{
    margin: 5px auto;
    
}

.red button:nth-of-type(1){
    background-color: red!important;
}

.green button:nth-of-type(1){
    background-color: green!important;
}